@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    font-family: Roboto Slab;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.795);
}

.navbar {
    min-height: 60px;

}

.container {
    display: flex;
    justify-content: space-between;
    width: 850px;

}

/* HEADER */
/* MENU */
.logo img {
    max-width: 300px;
    width: auto;
    height: 120px;
    margin-top: -20px;
}

.menu {
    display: flex;
    align-items: center;
    text-align: right;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #945002;
}

nav .active a,
nav a:hover {
    background-color: #FAA61A;
    color: #ffffff;
}

.social_icons a {
    display: flex;
    margin-top: -6px;
}

/* MENU */
/* BANNER */
#banner {
    display: flex;
    justify-content: end;
    background: url("../img/bg.jpg");
    background-position: right;
    background-size: cover;
    height: 430px;
}

.banner_headline {
    color: #945002;
    margin: 50px 50px 0 0;
    text-align: right;
    font-size: 24px;
}

.fruta {
    color: #FAA61A;
}

.legume {
    color: #F15A22;
}

.verdura {
    color: #62BB46;
}

.icons_banner a {
    display: flex;
    color: #945002;
    text-decoration: none;
}
.whatsapp {
    margin-top: -15px;
    transition: transform 1s;
    transform: translateX(0) scale(0.5);
}
.whatsapp:hover {
    transform: translateX(10px) scale(1.0);
}
.truck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px ;
    padding-right: 15px;
    transition: transform 1s;
    transform: translateX(0) scale(1.0);
}
.telefone {
    font-size: 35px;
}
a:hover {
    text-decoration: none;
}

.banner_buttons ul,
.banner_buttons li {
    list-style: none;
    margin-left: 50px;
}
.banner_buttons ul {
    display: flex;
}

/* BANNER */